{% macro content(name, promo, location) %}
    <div class="container">
        <div class="row align-items-center text-nowrap">
            <div class="my-2"></div>
            <h2>{{ name }}</h2>
            <h4>{{ promo }}</h4>
            <h6 class="text-lightGrey">{{ location }}</h6>
            <div class="my-2"></div>
            <a class="h6 text-deepSeaBlue text-decoration-none" href="{{ url_for("home") }}"> {#user_details#}
                Details du profil
            </a>
        </div>
    </div>
{% endmacro %}