<template id="companyTile">
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow bg-gradient-card user-select-none">
            <div class="card-body text-nowrap">
                <div class="row row-cols-2">
                    <div class="col-3 col-lg-4 col-xl-2 w-auto">
                        <img class="img-fluid bg-deepSeaBlue bg-opacity-25 rounded-2 p-2 mb-3" src="{icon}"
                             alt="company_logo" style="width: 7vh; height: 7vh">
                    </div>
                    <div class="col">
                        <h6 class="card-title text-heavyBlack">{company}</h6>
                        <p class="text-lightGrey">
                            <img class="img-fluid" src="/assets/svg/tile/map_pin.svg" alt="mapPin">
                            {location}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="btn btn-deepSeaBlue shadow" onclick="navigateTo(event, '{url}')">Entreprise</div>
                    </div>

                    <div class="col-8 text-end">
                        <div class="btn btn-pastelBlue shadow" onclick="navigateTo(event, '{rating_url}')">
                            Voir les {rating_count} avi(s)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>