<template id="companyTile">
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card shadow bg-gradient-card user-select-none">
            <div class="card-body text-nowrap">
                <div class="row row-cols-2">
                    <div class="col-3 col-lg-4 col-xl-2 w-auto">
                        <img class="img-fluid bg-deepSeaBlue bg-opacity-25 rounded-2 p-2 mb-3" src="{logo}"
                             alt="company_logo" style="width: 7vh; height: 7vh">
                    </div>
                    <div class="col">
                        <h6 class="card-title text-heavyBlack">{company}</h6>
                        <p class="text-lightGrey">
                            <i class="fa fa-map-marker"></i> &middot; {location}
                            <br>
                            <i class="fa fa-book"></i> &middot; {internshipsCount} stages
                            <br>
                            <i class="fa fa-users"></i> &middot; {employeesCount} employés
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="btn btn-deepSeaBlue shadow" onclick="navigateTo(event, '{url}')">Entreprise</div>
                    </div>

                    <div class="col-8 text-end">
                        <div class="btn btn-pastelBlue shadow" onclick="navigateTo(event, '{ratingUrl}')">
                            Voir les {ratingsCount} avis ({rate} <i class="fa fa-star text-goldenBrown"></i>)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>