<div class="card bg-white">
    <div class="card-body">
        <div class="row row-cols-2 align-items-center text-nowrap">
            <div class="w-50">
                <img class="img-fluid" src="{{ illustration }}" alt="illustration">
            </div>
            <h6 class="card-title">{{ number_variable }}<br>{{ type_variable }}</h6>
        </div>
    </div>
</div>