{% macro content(icon, count, text) %}
    <div class="card bg-white shadow">
        <div class="card-body">
            <div class="row row-cols-2 align-items-center text-nowrap">
                <div class="w-50">
                    <img class="img-fluid" src="/assets/svg/home/{{ icon }}.svg" alt="illustration">
                </div>
                <h6 class="card-title">{{ count }}<br>{{ text }}</h6>
            </div>
        </div>
    </div>
{% endmacro %}