{% macro content(id, ratingNumber, averageRating) %}
    {% import "components/forms/rating_field.twig" as rating_field %}

    <div class="card shadow my-3 bg-gradient-card"
         onclick="navigateTo(event, '{{ url_for("internship_rating", {"id": id} ) }}')">
        <div class="card-body">
            <div class="row mb-3">
                {{ rating_field.content("average_rate", averageRating) }}
            </div>
            <h2>Avis du stage</h2>
            <h6>
                {{ ratingNumber }} avis
                <i class="fa fa-arrow-right text-deepSeaBlue"></i>
            </h6>
        </div>
    </div>
{% endmacro %}