<template id="internshipTile">
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card shadow bg-gradient-card cursor-pointer user-select-none" onclick="navigateTo(event, '{url}')">
            <div class="card-body text-nowrap">
                <div class="row align-items-start">
                    <div class="col">
                        <h6 class="card-title">{title}</h6>
                        <p class="text-lightGrey ms-3">
                            <i class="fa fa-money"></i> &middot; {salary}$/mois
                            <br>
                            <i class="fa fa-calendar"></i> &middot; {startDate} - {endDate}
                        </p>
                    </div>
                    <div class="col-2 text-end">
                        <h6 class="col card-title">
                            {rate} <i class="fa fa-star text-goldenBrown"></i>
                        </h6>
                        <i class="fa fa-2x fa-bookmark-o text-deepSeaBlue" onclick=""></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 col-lg-4 col-xl-2 w-auto">
                        <img class="img-fluid bg-deepSeaBlue bg-opacity-25 rounded-2 p-2" src="{companyLogo}"
                             alt="company_logo" style="width: 7vh; height: 7vh;">
                    </div>
                    <div class="col">
                        <h6 class="card-title">{companyName}</h6>
                        <p class="text-lightGrey">
                            <i class="fa fa-map-marker"></i> &middot; {location}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function navigateTo(event, url) {
            if (event.target.tagName === 'I') {
                return;
            }
            window
                .open(url, '_blank')
                .focus();
        }
    </script>
</template>