{% macro content(rating_number) %}
    <div class="card shadow my-3 bg-gradient-card rounded-4" onclick="navigateTo(event, '{{ url_for("job_rating") }}')">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col">
                    <img class="fluid" src="/assets/svg/tile/star_full.svg" alt="star">
                    <img class="fluid" src="/assets/svg/tile/star_full.svg" alt="star">
                    <img class="fluid" src="/assets/svg/tile/star_full.svg" alt="star">
                    <img class="fluid" src="/assets/svg/tile/star_full.svg" alt="star">
                    <img class="fluid" src="/assets/svg/tile/star_empty.svg" alt="star">
                </div>
            </div>
            <h2>Avis du poste</h2>
            <h6>{{ rating_number }} avis <img src="/assets/svg/misc/arrow_right.svg" alt="arrow"></h6>
        </div>
    </div>
{% endmacro %}