<div class ="card shadow my-3 bg-gradient-card rounded-4">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col">
                <img class="fluid" src="/assets/svg/tile/start_full.svg" alt="star_full">
                <img class="fluid" src="/assets/svg/tile/start_full.svg" alt="star_full">
                <img class="fluid" src="/assets/svg/tile/start_full.svg" alt="star_full">
                <img class="fluid" src="/assets/svg/tile/start_full.svg" alt="star_full">
                <img class="fluid" src="/assets/svg/tile/start_empty.svg" alt="star_empty">
            </div>
        </div>
        <h2>Avis du poste</h2>
        <h6>{{ rating_number }} avis <img src="/assets/svg/misc/arrow_right.svg" alt="arrow"></h6>
    </div>
</div>