<a class="dropdown-item" href="{{ url_for("home") }}">
    <div class="row row-cols-2 align-items-center">
        <span class="text-heavyBlack">{{ language_name }}</span>
        <img class="img-fluid" src="{{ illustration }}" alt="drapeau"/>
    </div>
</a>