{% macro content(skill) %}
    <div class="card bg-offWhite shadow my-1 rounded-5">
        <div class="card-body">
            <div class="row">
                <div class="col">{{ skill }}</div>
                <div class="btn-close me-2"></div>
            </div>
        </div>
    </div>
{% endmacro %}