<div class="card bg-offWhite shadow my-1 rounded-5">
    <div class="card-body">
        <div class="row">
            <div class="col">
                {{ skill }}
            </div>
            <div class="col text-end">
                X
            </div>
        </div>

    </div>
</div>