<div class="dropdown-menu  shadow-lg px-4" id="dropdownMenuButton ">
    <label class="pt-2">Filtrer Entreprises par</label>

    <div class="dropdown-divider"></div>

    <div class="form-check ">
        <input class="form-check-input" type="radio" name="ratingRadio" id="ratingRadio1" value="option1">
        <label class="form-check-label" for="ratingRadio1">Avis (décroissant)</label>
    </div>

    <div class="form-check ">
        <input class="form-check-input" type="radio" name="ratingRadio" id="ratingRadio2" value="option2">
        <label class="form-check-label" for="ratingRadio2">Avis (croissant)</label>
    </div>

    <div class="dropdown-divider"></div>

    <div class="form-check ">
        <input class="form-check-input" type="radio" name="jobAmountRadio" id="jobAmountRadio1" value="option1">
        <label class="form-check-label" for="jobAmountRadio1">Nombre d'offres de stages (décroissant)</label>
    </div>

    <div class="form-check ">
        <input class="form-check-input" type="radio" name="jobAmountRadio" id="jobAmountRadio2" value="option2">
        <label class="form-check-label" for="jobAmountRadio2">Nombre d'offres de stages (croissant)</label>
    </div>

    <div class="dropdown-divider"></div>

    <div class="form-check ">
        <input class="form-check-input" type="radio" name="internsAmountRadio" id="internsAmountRadio1" value="option1">
        <label class="form-check-label" for="internsAmountRadio1">Nombre de stagiaires (décroissant)</label>
    </div>

    <div class="form-check ">
        <input class="form-check-input" type="radio" name="internsAmountRadio" id="internsAmountRadio2" value="option2">
        <label class="form-check-label" for="internsAmountRadio2">Nombre de stagiaires (croissant)</label>
    </div>

    <div class="dropdown-divider pt-2"></div>
    <label>Taille de l'entreprise</label>
    <div class="dropdown-divider pb-2"></div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="employeeCountRadio" id="employeeCountRadio1" value="option1">
        <label class="form-check-label" for="employeeCountRadio1">1-10 employés</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="employeeCountRadio" id="employeeCountRadio2" value="option2">
        <label class="form-check-label" for="employeeCountRadio2">11-100 employés</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="employeeCountRadio" id="employeeCountRadio3" value="option3">
        <label class="form-check-label" for="employeeCountRadio3">101-1000 employés</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="employeeCountRadio" id="employeeCountRadio4" value="option4">
        <label class="form-check-label" for="employeeCountRadio4">1001-10 000 employés</label>
    </div>

    <div class="form-check form-check-inline pb-1">
        <input class="form-check-input" type="radio" name="employeeCountRadio" id="employeeCountRadio5" value="option5">
        <label class="form-check-label" for="employeeCountRadio5">10 000+ employés</label>
    </div>

</div>