<div class="dropdown-menu  shadow-lg px-4" id="dropdownMenuButton ">
    <label class="pt-2">Filtrer Entreprises par</label>

    <div class="dropdown-divider"></div>

    <div class="form-check py-1">
        <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Avis (décroissants)
        </label>
    </div>

    <div class="form-check py-1">
        <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
            Nombre d'offres de stages (décroissant)
        </label>
    </div>

    <div class="form-check py-1">
        <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck3">
        <label class="form-check-label" for="defaultCheck3">
            Nombre d'offres de stages (croissant)
        </label>
    </div>

    <div class="form-check py-1">
        <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck4">
        <label class="form-check-label" for="defaultCheck4">
            Nombre de stagiaires (décroissant)
        </label>
    </div>

    <div class="form-check py-1">
        <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck5">
        <label class="form-check-label" for="defaultCheck5">
            Nombre de stagiaires (croissant)
        </label>
    </div>

    <div class="dropdown-divider pt-2"></div>
    <label>Taille de l'entreprise</label>
    <div class="dropdown-divider pb-2"></div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">1-10 employés</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">11-100 employés</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio3">101-1000 employés</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
        <label class="form-check-label" for="inlineRadio4">1001-10 000 employés</label>
    </div>

    <div class="form-check form-check-inline pb-1">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
        <label class="form-check-label" for="inlineRadio5">10 000+ employés</label>
    </div>

</div>