<template id="filterItem">
    <div class="card mt-2" id="{id}">
        <div class="row">
            <div class="col text-start align-self-center ms-2">{content}</div>
            <div class="col text-end">
                <div class="btn" onclick="removeFilterItem('{id}')">Del</div>
            </div>
        </div>
    </div>
</template>