<div class="dropdown-menu  shadow-lg px-4" id="dropdownMenuButtonJob ">
    <label class="pt-2">Filtrer Stages par</label>

    <div class="dropdown-divider"></div>

    <div class="form-check ">
        <input class="form-check-input" type="radio" name="dateRadio" id="dateRadio1" value="option1">
        <label class="form-check-label" for="dateRadio1">Les plus récents</label>
    </div>

    <div class="form-check ">
        <input class="form-check-input" type="radio" name="dateRadio" id="dateRadio2" value="option2">
        <label class="form-check-label" for="dateRadio2">Les plus anciens</label>
    </div>

    <div class="dropdown-divider"></div>

    <div class="form-check ">
        <input class="form-check-input" type="radio" name="ratingRadio" id="ratingRadio1" value="option1">
        <label class="form-check-label" for="ratingRadio1">Avis (décroissant)</label>
    </div>

    <div class="form-check ">
        <input class="form-check-input" type="radio" name="ratingRadio" id="ratingRadio2" value="option2">
        <label class="form-check-label" for="ratingRadio2">Avis (croissant)</label>
    </div>

    <div class="dropdown-divider pt-2"></div>
    <label>Type de stage</label>
    <div class="dropdown-divider pb-2"></div>

    <div class="form-check py-1">
        <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck5">
        <label class="form-check-label" for="defaultCheck5">
            Sur site
        </label>
    </div>

    <div class="form-check py-1">
        <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck6">
        <label class="form-check-label" for="defaultCheck6">
            Hybride
        </label>
    </div>

    <div class="form-check py-1">
        <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck7">
        <label class="form-check-label" for="defaultCheck7">
            Full remote
        </label>
    </div>

    <div class="dropdown-divider pt-2"></div>
    <label>Compétences</label>
    <div class="dropdown-divider pb-2"></div>

    <div class="input-group rounded-5 shadow ">
        <input type="text" class="form-control" placeholder="Compétences" list="list-skills" id="input-datalist" aria-label="skills">
        <div class="input-group-append">
            <button class="btn btn-deepSeaBlue rounded-start-0" type="button">Ajouter</button>
        </div>
    </div>

    <div class="pb-2"></div>



</div>