<div class="dropdown-menu  shadow-lg px-4" id="dropdownMenuButtonUsers ">
    <label class="pt-2">Filtrer Etudiants par</label>

    <div class="dropdown-divider"></div>
    <label>Promo</label>
    <div class="dropdown-divider pb-2"></div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">A1</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">A2</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
        <label class="form-check-label" for="inlineCheckbox3">A3</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
        <label class="form-check-label" for="inlineCheckbox4">A4</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
        <label class="form-check-label" for="inlineCheckbox5">A5</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
        <label class="form-check-label" for="inlineCheckbox6">A6</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
        <label class="form-check-label" for="inlineCheckbox7">A7</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option8">
        <label class="form-check-label" for="inlineCheckbox8">A8</label>
    </div>

    <div class="dropdown-divider pt-2"></div>
    <label>Formation</label>
    <div class="dropdown-divider pb-2"></div>

    <div class="input-group rounded-5 shadow ">
        <input type="text" class="form-control" placeholder="Formation" list="list-formation" id="input-datalist"
               aria-label="formation">
        <div class="input-group-append">
            <button class="btn btn-deepSeaBlue rounded-start-0" type="button">Ajouter</button>
        </div>
    </div>

    <div class="dropdown-divider pt-2"></div>
    <label>Campus</label>
    <div class="dropdown-divider pb-2"></div>

    <div class="input-group rounded-5 shadow ">
        <input type="text" class="form-control" placeholder="Campus" list="list-campus" id="input-datalist"
               aria-label="campus">
        <div class="input-group-append">
            <button class="btn btn-deepSeaBlue rounded-start-0" type="button">Ajouter</button>
        </div>
    </div>

    <div class="dropdown-divider pt-2"></div>
    <label>Compétences</label>
    <div class="dropdown-divider pb-2"></div>

    <div class="input-group rounded-5 shadow ">
        <input type="text" class="form-control" placeholder="Compétences" list="list-skills" id="input-datalist"
               aria-label="skills">
        <div class="input-group-append">
            <button class="btn btn-deepSeaBlue rounded-start-0" type="button">Ajouter</button>
        </div>
    </div>

    <div class="dropdown-divider pb-2"></div>

    <div class="text-end">
        <div class="btn btn-deepSeaBlue">Valider</div>
    </div>

    <div class="pb-2"></div>
</div>