<div class="input-group rounded-5 shadow">
                    <span class="input-group-text bg-white border-end-0">
                        <img class="img-fluid" src=/assets/svg/search.svg alt="search">
                    </span>

    <input class="form-control border-start-0" placeholder="Mots clefs...."
           aria-label="Mots clefs...."
           aria-describedby="home_input_search">

    <span class="input-group-text bg-white border-end-0">
                        <img class="img-fluid" src=/assets/svg/blue_map_pin.svg alt="search">
                    </span>

    <input class="form-control border-start-0" placeholder="Lieu...."
           aria-label="Lieu...."
           aria-describedby="home_input_search">

    <div class="input-group-append">
        <button class="btn btn-deepSeaBlue rounded-start-0" type="button">Rechercher</button>
    </div>
</div>