<div class ="card shadow my-3 bg-gradient-card rounded-4">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col">
                <img class="fluid" src="/assets/svg/full_star.svg" alt="star_full">
                <img class="fluid" src="/assets/svg/full_star.svg" alt="star_full">
                <img class="fluid" src="/assets/svg/full_star.svg" alt="star_full">
                <img class="fluid" src="/assets/svg/full_star.svg" alt="star_full">
                <img class="fluid" src="/assets/svg/empty_star.svg" alt="star_empty">
            </div>
        </div>
        <h2>Avis de {{ company_name }}</h2>
        <h6>Par plus de {{ rating_count }} <br> stagiaires et pilotes de promotion</h6>
    </div>
</div>

{#    <div class="col">
                <img class="fluid" src="/assets/svg/full_star.svg" alt="star_full">
            </div>
            <div class="col">
                <img class="fluid" src="/assets/svg/full_star.svg" alt="star_full">
            </div>
            <div class="col">
                <img class="fluid" src="/assets/svg/full_star.svg" alt="star_full">
            </div>
            <div class="col">
                <img class="fluid" src="/assets/svg/empty_star.svg" alt="star_empty">
            </div> #}