<footer class="align-bottom bg-dark py-5">
    <div class="container">
        <div class="row flex-column flex-lg-row align-items-center justify-content-between text-center">
            <div class="col-auto">
                <div class="text-white small">
                    Stagify &copy; 2024, All rights reserved
                </div>
            </div>
            <div class="col-auto">
                <a class="link-light small" href={{ url_for("home") }}>
                    Nous contacter
                </a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href={{ url_for("home") }}>
                    Politique de confidentialité
                </a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href={{ url_for("home") }}>
                    Conditions générales d"utilisation
                </a>
            </div>
        </div>
    </div>
</footer>