<footer class="bg-dark">
    <div class="container px-5 py-5">
        <div class="row align-items-center justify-content-between flex-column flex-lg-row">
            <div class="col-auto text-center">
                <div class="small m-0 text-white text-center">Stagify &copy; 2024, All rights reserved</div>
            </div>
            <div class="col-auto text-center">
                <a class="link-light small d-block d-lg-inline" href="#!">Nous contacter</a>
                <span class="text-white mx-1 d-none d-lg-inline">&middot;</span>
                <a class="link-light small d-block d-lg-inline" href="#!">Politique de confidentialité</a>
                <span class="text-white mx-1 d-none d-lg-inline">&middot;</span>
                <a class="link-light small d-block d-lg-inline" href="#!">Conditions générales d'utilisation</a>
            </div>
        </div>
    </div>
</footer>