<div class="dropdown-menu  shadow-lg px-4" id="dropdownMenuButtonJob ">
    <label class="pt-2">Filtrer Stages par</label>

    <div class="dropdown-divider"></div>

    <div class="form-check py-1">
        <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Les plus récents
        </label>
    </div>

    <div class="form-check py-1">
        <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
            Les plus ancients
        </label>
    </div>

    <div class="form-check py-1">
        <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck3">
        <label class="form-check-label" for="defaultCheck3">
            Avis (décroissants)
        </label>
    </div>

    <div class="form-check py-1">
        <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck4">
        <label class="form-check-label" for="defaultCheck4">
            Avis (croissants)
        </label>
    </div>

    <div class="dropdown-divider pt-2"></div>
    <label>Type de stage</label>
    <div class="dropdown-divider pb-2"></div>

    <div class="form-check py-1">
        <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck5">
        <label class="form-check-label" for="defaultCheck5">
            Sur site
        </label>
    </div>

    <div class="form-check py-1">
        <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck6">
        <label class="form-check-label" for="defaultCheck6">
            Hybride
        </label>
    </div>

    <div class="form-check py-1">
        <input class="form-check-input py-1" type="checkbox" value="" id="defaultCheck7">
        <label class="form-check-label" for="defaultCheck7">
            Full remote
        </label>
    </div>

    <div class="dropdown-divider pt-2"></div>
    <label>Compétences</label>
    <div class="dropdown-divider pb-2"></div>

    <input type="text" class="form-control" placeholder="Compétences" list="list-skills" id="input-datalist">


</div>