{% set alternative_search_bar = true %}
{% extends "components/base.twig" %}

{% block header %}
    <section class="bg-deepWarmGrey">
        <div class="container py-3">
            <div class="row ">
                <div class="col-lg-10 col-md-9  col-8">
                    <div class="pt-2">Recherche d'entreprises</div>
                </div>
                <div class="col-lg-2 col-md-3 col-4 text-end">
                    <div class="btn btn-deepWarmGrey shadow-lg rounded-2">
                        <img src="/assets/svg/sliders.svg" alt="Filter">
                        Filtres
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
        <div class="container pt-4">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {% set rating_number = "526" %}
                    {{ include("components/company_tile_card.twig") }}
                </div>

                <div class="col-6 col-lg-4 d-none d-md-block">
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {% set rating_number = "526" %}
                    {{ include("components/company_tile_card.twig") }}
                </div>

                <div class="col-4 d-none d-lg-block">
                    {% set company_logo = "/assets/illustrations/company_logo.svg" %}
                    {% set company_name = "Google" %}
                    {% set location = "51100 Reims" %}
                    {% set rating_number = "526" %}
                    {{ include("components/company_tile_card.twig") }}
                </div>
            </div>

        </div>
    </section>
{% endblock %}