<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Modern Business - Start Bootstrap Template</title>
    <link rel="icon" href="/assets/img/logo.ico" />
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
</head>
<body class="d-flex flex-column h-100">
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-auto">
                <a class="link-light" href="#!">Home</a>
                <a class="link-light
                " href="#!">About</a>
            </div>
            <div class="col-auto">
                <a class="link-light
                " href="#!">Login</a>
                <a class="link-light
                " href="#!">Register</a>
            </div>
        </div>
    </div>
</header>
<div id="content">{% block content %} Content here{% endblock %}</div>
{{ include("components/footer.twig") }}
</body>
</html>