<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <title>Connexion - Stagify</title>
    <link rel="icon" href="/assets/img/logo.ico"/>
    <link href="/assets/bootstrap.css" rel="stylesheet"/>
</head>

<body class="d-flex flex-column" style="height: 100vh">
<header class="container">
    <div class="m-3"></div>
    <img class="img-fluid col-2" src="/assets/img/logo.png" alt="logo"/>
</header>

<section>
    <hr class="hr bg-dark" style="border:none; height: 3px"/>
    <div class="m-5"></div>
</section>

<section class="container flex-fill">
    <div class="row">
        <div class="col-lg-6">
            <h1>
                Connectez vous sur Stagify,<br>LA plateforme de recherche de stages étudiants
            </h1>
            <div class="m-4"></div>
            <input class="form-control" type="text" placeholder="Nom d'utilisateur"
                   aria-label="Nom d'utilisateur" aria-describedby="login_input_user"/>
            <div class="m-2"></div>
            <input class="form-control" type="text" placeholder="Mot de passe" aria-label="Mot de passe"
                   aria-describedby="login_input_password"/>
            <div class="m-2"></div>
            <a class="link-dark ms-1" href={{ url_for("home") }}>Mot de passe oublié?</a>
            <div class="m-3"></div>
            <a class="btn btn-deepSeaBlue w-50 ms-1" href={{ url_for("home") }}>
                S'identifier
            </a>
        </div>
        <div class="col-lg-2 d-none d-lg-block"></div>
        <div class="col-lg-4 d-none d-lg-block align-self-center">
            <img class="img-fluid rounded-5" src="/assets/illustrations/login_page.png" alt="..."/>
        </div>
    </div>
</section>

<section class="m-3"></section>

{{ include("components/footer.twig") }}
</body>
</html>