<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../assets/styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">




<div class="container-fluid">
    <img src ="https://cdn.discordapp.com/attachments/1201821843032379392/1201908002421215315/Capture_d_ecran_2024-01-30_161239-removebg-preview.png" style="width: 200px" alt="logo">
    <div class="row">
        <div class="col-sm-4">
            <h1>Connectez vous sur Stagify, La plateforme de recherche de stages étudiants</h1>
            <label>
                <textarea class="rounded-lg" style="width: 400px">Nom d'utilisateur</textarea>
            </label><br>
            <label>
                <textarea class="rounded-lg" style="width: 400px">Mot de passe</textarea>
            </label><br>
            <button class="btn btn-primary rounded-pill" style="background-color: blue; color: white">S'identifier</button>
        </div>
        <div class="col-sm-4">
            <img src="https://cdn.discordapp.com/attachments/1201821843032379392/1205434252808953866/image.png" alt="illustration-login" style="width: 400px">
        </div>
    </div>
</div>



</body>
</html>