{% extends "components/base.twig" %}

{% block header %}

<body class="d-flex flex-column" style="min-height: 100vh">

<nav class="sticky-top bg-white shadow">
    <div class="navbar navbar-expand-lg bg-deepWarmGrey">
        <div class="container py-1">
            <a class="w-10" href=/>
            <img class="img-fluid" src="/assets/img/logo.png" alt="logo"/>
            </a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navBarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-2" id="navBarContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-heavyBlack" href=/>Accueil</a>
                    </li>
                    <div class="text-heavyBlack d-none d-lg-block align-self-center">&middot;</div>
                    <li class="nav-item">
                        <a class="nav-link text-heavyBlack" href=/>Stages</a>
                    </li>
                    <div class="text-heavyBlack d-none d-lg-block align-self-center">&middot;</div>
                    <li class="nav-item">
                        <a class="nav-link text-heavyBlack" href=/>Entreprises</a>
                    </li>
                    <div class="text-heavyBlack d-none d-lg-block align-self-center">&middot;</div>
                    <li class="nav-item">
                        <a class="nav-link text-heavyBlack" href=/>Statistiques</a>
                    </li>
                    <div class="text-heavyBlack d-none d-lg-block align-self-center">&middot;</div>
                    <li class="nav-item">
                        <a class="nav-link text-heavyBlack" href=/>Profil</a>
                    </li>
                    <div class="ms-lg-3"></div>
                    <li class="nav-item dropdown dropdown-center">
                        <div class="btn btn-deepSeaBlue dropdown-toggle shadow" data-bs-toggle="dropdown">Langue</div>
                        <ul class="dropdown-menu dropdown-menu-end w-25">
                            <li>
                                <a class="dropdown-item" href="/">
                                    <div class="row row-cols-2 align-items-center">
                                        <span class="text-heavyBlack">Français</span>
                                        <img class="img-fluid" src="assets/img/french_flag.png" alt="drapeau"/>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/">
                                    <div class="row row-cols-2 align-items-center">
                                        <span class="text-heavyBlack">Anglais</span>
                                        <img class="img-fluid" src="assets/img/us_flag.png" alt="drapeau"/>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div class="my-2 d-lg-none"></div>
            <div class="col-lg-2 d-none d-lg-block">
                <div class="btn btn-deepSeaBlue text-nowrap shadow" data-bs-toggle="offcanvas"
                     data-bs-target="#sideMenu">
                    Espace entreprise
                </div>
            </div>
            <div class="col-lg-1 d-none d-lg-block"></div>
            <div class="col-12 col-lg-6">
                <div class="input-group rounded-5 shadow">
                    <div class="input-group-prepend">
                    <span class="input-group-text bg-white rounded-end-0">
                        <img class="img-fluid" src=/assets/svg/search.svg alt="search">
                    </span>
                    </div>
                    <input class="form-control" placeholder="Stages, entreprises, mots clés...."
                           aria-label="Stages, entreprises, mots clés...."
                           aria-describedby="home_input_search">
                    <div class="input-group-append">
                        <button class="btn btn-deepSeaBlue rounded-start-0" type="button">Rechercher</button>
                    </div>
                </div>
            </div>
            <div class="m-2 d-lg-none"></div>
            <div class="col-6 d-lg-none">
                <div class="btn btn-deepSeaBlue text-nowrap shadow" data-bs-toggle="offcanvas"
                     data-bs-target="#sideMenu">
                    Espace entreprise
                </div>
            </div>
            <div class="col-lg-1 d-none d-lg-block text-end">
                <a href=/user>
                    <img class="img-fluid my-3 w-75" src="/assets/illustrations/profil.svg" alt="profile_picture">
                </a>
            </div>
            <div class="col-6 col-lg-2 text-end">
                <a class="btn btn-outline-custom-blue text-nowrap shadow" href=/login>
                    Se déconnecter
                </a>
            </div>
            <div class="my-2 d-lg-none"></div>
            <div class="offcanvas offcanvas-start rounded-end-5" id="sideMenu">
                <div class="offcanvas-header">
                    <h3 class="offcanvas-title" id="offcanvasExampleLabel">Espace entreprise</h3>
                    <div class="btn-close" data-bs-dismiss="offcanvas"></div>
                </div>
                <div class="offcanvas-body">
                    <div class="card bg-richWarmGrey bg-opacity-25 rounded-5">
                        <div class="card-body">
                            <a class="row text-heavyBlack text-decoration-none align-items-center" href=/company>
                                <img class="col-3 img-fluid" src="/assets/svg/side_menu/company_profile.svg"
                                     alt="company_profile">
                                <div class="col">
                                    <h5>Profil d'entreprise</h5>
                                </div>
                            </a>
                            <div class="m-3"></div>
                            <a class="row text-heavyBlack text-decoration-none align-items-center" href=/>
                            <img class="col-3 img-fluid" src="/assets/svg/side_menu/students_search.svg"
                                 alt="students_search">
                            <div class="col">
                                <h5>Recherche d'étudiants</h5>
                            </div>
                            </a>
                            <div class="m-3"></div>
                            <a class="row text-heavyBlack text-decoration-none align-items-center" href=/>
                            <img class="col-3 img-fluid" src="/assets/svg/side_menu/create_internship.svg"
                                 alt="create_internship">
                            <div class="col">
                                <h5>Création d'offre</h5>
                            </div>
                            </a>
                            <div class="m-3"></div>
                            <a class="row text-heavyBlack text-decoration-none align-items-center" href=/>
                            <img class="col-3 img-fluid" src="/assets/svg/side_menu/create_user.svg"
                                 alt="create_user">
                            <div class="col">
                                <h5>Création d'utilisateur</h5>
                            </div>
                            </a>
                            <div class="m-3"></div>
                            <a class="row text-heavyBlack text-decoration-none align-items-center" href=/>
                            <img class="col-3 img-fluid" src="/assets/svg/side_menu/create_company.svg"
                                 alt="create_company">
                            <div class="col">
                                <h5>Création d'entreprise</h5>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<section>
</section>

<section class="flex-fill"> Content here </section>

{% endblock %}