{% import "components/forms/search_bar.twig" as search_bar_field %}

<div class="input-group rounded-5 shadow">
    <div class="input-group-text bg-white border-end-0">
        <img class="img-fluid" src=/assets/svg/search_bar/search.svg alt="search">
    </div>
    {{ search_bar_field.content("keyword", "Mots clefs...", old, errors, false) }}
    <div class="input-group-text bg-white border-end-0">
        <img class="img-fluid" src=/assets/svg/search_bar/map_pin.svg alt="search">
    </div>
    {{ search_bar_field.content("location", "Lieu...", old, errors, false) }}
    <button class="btn btn-deepSeaBlue rounded-start-0" type="button" onclick="applyFilters()">Rechercher</button>
</div>