<div class="input-group rounded-5 shadow">
    <div class="input-group-text bg-white border-end-0">
        <img class="img-fluid" src=/assets/svg/search_bar/search.svg alt="search">
    </div>
    <input class="form-control border-start-0" placeholder="Mots clefs...."
           aria-label="Mots clefs...."
           aria-describedby="home_input_search">
    <div class="input-group-text bg-white border-end-0">
        <img class="img-fluid" src=/assets/svg/search_bar/map_pin.svg alt="search">
    </div>
    <input class="form-control border-start-0" placeholder="Lieu...."
           aria-label="Lieu...."
           aria-describedby="home_input_search">
    <button class="btn btn-deepSeaBlue rounded-start-0" type="button">Rechercher</button>
</div>