<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#0a65cc"/>
    <meta name="description" content="Site web de Stagify. Page actuelle : {{ title }}"/>
    <title>{{ title }}</title>
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" href="/assets/img/logo.ico"/>
    <link href="/assets/bootstrap.css" rel="stylesheet"/>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/jquery-ui.min.js"></script>
    <script src="/assets/pagination.js"></script>
    <script src="/assets/script.js"></script>
</head>

<template id="loading">
    <div class="col text-center my-5">
        <div class="spinner-border text-primary"></div>
    </div>
</template>
<template id="error">
    <div class="col text-center my-5">
        <div class="h1 text-coldRed">Erreur</div>
    </div>
</template>
{% block templates %}{% endblock %}

<body class="d-flex flex-column" style="min-height: 100vh">
    {% block body %} Body here {% endblock %}
</body>
</html>