{% macro content(class, icon, type, content) %}
    <div class="alert {{ class }} shadow alert-dismissible fade show">
        <div class="text-heavyBlack">
            <img class="img-fluid me-2" src="/assets/svg/flash_banner/{{ icon }}.svg" alt="status_icon">
            <strong>{{ type }}</strong>{{ content }}
        </div>
        <div class="btn-close" data-bs-dismiss="alert"></div>
    </div>
{% endmacro %}