<div class="alert {{ class }} shadow alert-dismissible fade show">
    <div class="text-heavyBlack">
        <img class="img-fluid me-2" src="{{ pictogram }}" alt="pictogram">
        <strong>{{ type }}</strong>{{ flash.message }}
    </div>
    <div class="btn-close" data-bs-dismiss="alert"></div>
</div>