<div class="offcanvas offcanvas-start rounded-end-5" id="sideMenu">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasExampleLabel">Espace entreprise</h3>
        <div class="btn-close" data-bs-dismiss="offcanvas"></div>
    </div>
    <div class="offcanvas-body">
        <div class="card bg-richWarmGrey bg-opacity-25 rounded-5">
            <div class="card-body">
                <a class="row text-heavyBlack text-decoration-none align-items-center" href="{{ url_for("users", {"role": 3}) }}">
                    <img class="col-3 img-fluid" src="/assets/svg/side_menu/students_search.svg"
                         alt="students_search">
                    <div class="col">
                        <h5>Recherche d'utilisateur</h5>
                    </div>
                </a>
                <div class="m-3"></div>
                <a class="row text-heavyBlack text-decoration-none align-items-center" href={{ url_for("create_internship") }}>
                    <img class="col-3 img-fluid" src="/assets/svg/side_menu/create_internship.svg"
                         alt="create_internship">
                    <div class="col">
                        <h5>Création d'offre</h5>
                    </div>
                </a>
                <div class="m-3"></div>
                <a class="row text-heavyBlack text-decoration-none align-items-center" href={{ url_for("create_user", {"role": 3}) }}>
                    <img class="col-3 img-fluid" src="/assets/svg/side_menu/create_user.svg"
                         alt="create_user">
                    <div class="col">
                        <h5>Création d'utilisateur</h5>
                    </div>
                </a>
                <div class="m-3"></div>
                <a class="row text-heavyBlack text-decoration-none align-items-center" href={{ url_for("create_company") }}>
                    <img class="col-3 img-fluid" src="/assets/svg/side_menu/create_company.svg"
                         alt="create_company">
                    <div class="col">
                        <h5>Création d'entreprise</h5>
                    </div>
                </a>
                </div>
            </div>
    </div>
</div>