{% set title = "Stagify - Stages" %}
{% set alternative_search_bar = true %}
{% set pagination = true %}
{% extends "components/layouts/layout.twig" %}
{% import "components/tiles/internship_tile.twig" as job_tile %}

{% block header %}
    <section class="bg-deepWarmGrey ">
        <div class="container py-3">
            <div class="row ">
                <div class="col-lg-8 col-md-7 col-5">
                    <div class="pt-2">Recherche de stages</div>
                </div>
                <div class="col-lg-4 col-md-5 col-7 text-end">
                    <div class="dropdown dropdown-menu-end">
                        <div class="btn btn-deepWarmGrey shadow" data-bs-toggle="dropdown"
                             data-bs-target="#dropdownMenuButtonJob">
                            <img src="/assets/svg/misc/sliders.svg" alt="slider"> Filtres
                        </div>
                        {{ include("components/filters/jobs_filter.twig") }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
        <div class="container pt-4">
            <div class="row" id="internships"></div>
        </div>
    </section>
    {{ include("components/tiles/internship_tile.twig") }}
{% endblock %}

{% block pagination %}
    <script>
        (async function() {
            const element = $("#internships");
            setLoading(element);

            $("#pagination").pagination({
                count: Math.ceil((await fetch("/internships?count=true").then(response => response.json().then(data => data)))["count"] / 5),
                maxVisible: 5,
            }).on("changePage", function (event, page) {
                setLoading(element);
                retrieve(element, $("#internship_tile"), `/internships/${page}`);
            }).trigger("changePage", 1);
        })();
    </script>
{% endblock %}