{% extends "components/base.twig" %}

{% block body %}
    <header class="bg-deepWarmGrey">
        <div class="container my-2">
            <div class="row">
                <a class="col-4 col-md-2" href={{ url_for("home") }}>
                    <img class="img-fluid" src="/assets/img/logo.png" alt="logo"/>
                </a>
            </div>
        </div>
    </header>

    <section>
        <hr class="hr bg-heavyBlack m-0" style="border:none; height: 3px"/>
    </section>

    <section>
        <div class="container bg-deepWarmGrey rounded-5 my-5 py-5">
            {{ include("components/flash_banners.twig") }}
            <form action="{{ url_for("form") }}" method="post">
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" value="John" required>
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" value="Doe" required>
                </div>
                <div class="mb-3">
                    <label for="profilePicturePath" class="form-label">Profile Picture Path</label>
                    <input type="text" class="form-control" id="profilePicturePath" name="profilePicturePath"
                           value="example.png" required>
                </div>
                <div class="mb-3">
                    <label for="login" class="form-label">Login</label>
                    <input type="text" class="form-control" id="login" name="login" value="root" required>
                </div>
                <div class="mb-3">
                    <label for="passwordHash" class="form-label">Password</label>
                    <input type="password" class="form-control" id="passwordHash" name="passwordHash" value="*password"
                           required>
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>
{% endblock %}